/*------- general -------*/

.temp-layout{
    border-style: solid;
    border-width: 2px;
    color: black;

}

.text-center{
    text-align: center;
}

/*----------colors------------------*/

body{
    background-color: #1e88e5;
}

/*-------------------header------------------------------------*/

.header{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;

}

.menu-icon{
    padding: 0 20px 0 0;
}

.nav-item, .dropdown{
    float: right;

}
    

/*---this was taken from the resume project----*/
.welcome-picture{
    background: url(../images/main-picture-dolphins.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 480px;

}
/*----------------------/header-------------------------*/

/*----------------home page-----------------------------*/

.home-info-picture{

    border-radius: 177px;
    border-width: 2px;
    min-height: 100px;
}



/*-----------footer-------------*/

footer{
    background-color:#002f6c;

    color: #fff;
    min-height: 120px;
    margin:0;
}

.social-link{
    padding: 20px 0;
    text-align: center;
    font-size: 280%;
}

footer ul{
    list-style: none;
}

footer h3{

    padding-left: 32px;
    padding-top: 10px;
    font-weight: normal;
}




@media (min-width: 992px) { 
    .list-inline-item a i{
        font-size: 200%;
        padding-right: 50px;
    }

 }

 @media (max-width: 992px) { 
    .list-inline-item a i{
        padding-top: 15px;
        font-size: 110%;

    }

 }
