/*------- general -------*/

.text-center{
    text-align: center;
}

.no-gutters{
    padding: 0;
}

/*----------colors------------------*/

body{
    background-color: #1e88e5;
}

/*-------------------header------------------------------------*/

.header{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;

}

nav ul li{
    padding:0 10px;
    text-align: center;
    font-weight: bold;
}

nav div a{
    color: black;
    text-decoration: none;
}

.menu-item{
    padding-left:20px;
    float:right;
}

 @media (max-width: 992px) { 


    nav{
        min-height: 30px;
    }

    .desktop-header{
        margin-top: 10px;

    }

 }

     

/*----------------------/header-------------------------*/



/*----------------home page-----------------------------*/

/*---Welcome image (this was taken from the resume project and love running project)----*/
#welcome-image{
    background: url(../images/main-picture-dolphins.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#welcome-outer{

    height:100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

#welcome-text {
    font-size: 70%;

    text-transform: uppercase;
    letter-spacing: 4px;

    width: 40vw;
    height: 130px;

    padding: 20px 10px 20px 40px;

    background-color: rgba(0, 0, 0, .7);

    bottom: 30px;


    position: absolute;
    color: white;

    overflow: none;
}

#welcome-text h2{
    font-size: 140%;
}

 @media (max-width: 768px) { 

    #welcome-text{
        width: 65vw;
        padding-top: 15px;
        bottom: 20px;
    }

 }

  @media (max-width: 550px) { 

    #welcome-text{
        width: 95vw;
        padding-top: 15px;
        bottom: 20px;
        font-size: 60%;
    }

    #welcome-image{
        background-position-x: -180px;
    }

 }


/*--------/Welcome-image------*/

/*---------------------home info-------------------*/

.home-info-container{
    padding:2px;
}

.home-info-block{
    width: 100vw;
    margin: 2% 10px 2% 10px;
    padding: 0;
}

#about-us-picture{
    background: url(../images/about-us.jpg);
}

#why-help-image{
    background: url(../images/seal.jpg);
}

#about-us-picture, #why-help-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 180px;
    width: 50vw;

    position: relative;
    margin: 0;

}



#about-us-text, #why-help-text{
    background-color: #01579b;
    color: #fff;
    font-size: 70%;
    padding-top: 10px;

    height: 180px;
    width: 50vw;

}

#about-us p, h3{
    padding-left: 7px;
}

.r-col{
    margin-right:2px;
    overflow: hidden;

}

 @media (max-width: 768px) {
     #about-us-text{
         left: 40px
     }
  }

/*-----------footer-------------*/

footer{
    background-color:#002f6c;
    max-height:200px;
    color: #fff;
    min-height: 120px;
    margin:0;
}

.social-link{
    padding: 20px 0;
    text-align: center;
    font-size: 280%;
}

footer ul{
    list-style: none;
}

footer h3{

    padding-left: 32px;
    padding-top: 10px;
    font-weight: normal;
}




@media (min-width: 992px) { 
    .list-inline-item a i{
        font-size: 250%;
        padding-right: 50px;
        text-align: center;
    }
    .contact-info{
        padding-right:20px;
    }
        .social-header{
        text-align: center;


    }

 }

 @media (max-width: 992px) { 
    .list-inline-item a i{
        font-size: 110%;
        padding-right: 2px;

    }
    .general-sub{
        font-size: 100%;

    }

    .social-header{
        text-align: center;
        padding: 0 5px 0 32px;

    }
    
    .social-icon-list{
        padding-left:0;
    }
 }


 /*------------------contact form----------*/

 #contact-form input{
     margin-bottom: 5px;
 }

 /*----------events-------*/

 /*----taken from love running project and edited----*/
 .event-picture {
    width: 300px;
    height: 300px;
    padding: 0;
    border-style: solid;
    border-color: #1b1b1b;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    
}

.event-block{
    margin-top: 10px;
    margin-bottom: 10px;
}
#bournemouth-beach-run-photo{
    background-image: url(../images/beach-run-bournemouth.jpg);
    background-size: 160%;
    background-repeat: no-repeat;
}