  @import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*------- general -------*/

.text-center{
    text-align: center;
}

.no-gutters{
    padding: 0;
}

p{
    font-size: 25px;
}

.main{
      min-height: calc(100vh - 260px);
}
/*----------colors------------------*/

body{
    background-color: #1e88e5;
}

/*-------------------header------------------------------------*/

.header{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;

}

header .banner h1{
    height: auto;
    padding-top: 25px;
}

nav ul li{
    padding:0 10px;
    text-align: center;
    font-weight: bold;
}

nav div a{
    color: black;
    text-decoration: none;
        font-size: 22px;
}

.menu-item{
    padding-left:20px;
    float:right;
    width:10%;
}

nav{
    height:auto;

}

.menu-list{
    justify-content: center;
}
 @media (max-width: 992px) { 


    .desktop-header{
        margin-top: 10px;

    }

 }

     .banner{
         height: 100px;
         font-size: 30px;
        background-color: #002f6c;
        color:#fff;
     }
    
/*-----------footer-------------*/

footer{
    background-color:#002f6c;

    color: #fff;
    min-height: 120px;
    height: auto;
    overflow: hidden;
}

.social-link{
    padding: 20px 0;
    text-align: center;
    font-size: 280%;
}

footer ul{
    list-style: none;
}

footer h3{

    padding-left: 32px;
    padding-top: 10px;
    font-weight: normal;
}

footer h4{ 
    float:right;
    padding-right:4px;
}

.contact-info{
        padding-right:0;
        float: left;
        width: 50vw;
        height: auto;
        flex: 50%;
    }

.social-block{
        width: 50vw;
        float: left;
        padding-top:25px;
        height: auto;
        flex: 50%;
    }

 

.list-inline-item a i{
        font-size: 220%;
        padding-right: 35px;
        text-align: center;
        color: #fff;
}


 .social-icon-list{
     width: auto;

 }

 @media (max-width: 992px) { 
    .list-inline-item a i{
        font-size: 110%;
        padding-right: 2px;

    }
    .general-sub{
        font-size: 100%;

    }
    
    .social-icon-list{
        padding-left:0;
    }
 }

 @media (max-width:768){
     footer .contact-info{
        width: 50%;
     }
     footer li{ 
         font-size: 16px;
     }
     footer .row{
        flex-direction: column;
     }


 
 }


@media (max-width: 450px) {
      footer h4{
          font-size: 12px;
      }
      
      .social-icon-list{
          padding: 7px 0 0 0;
      }

    footer .contact-info{
         width: 100vw;
         flex:100%;
         text-align: center;

     }

     footer .social-block{
         width:100vw;
         flex:100%;

     }


  
}
/*----------------home page-----------------------------*/

/*---Welcome image (this was taken from the resume project and love running project)----*/
#welcome-image{
    background: url(../images/main-picture-dolphins.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

#welcome-outer{

    height:auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

#welcome-text {
    font-size: 70%;

    text-transform: uppercase;
    letter-spacing: 4px;

    width: 50vw;
    height: auto;

    padding: 20px 10px 20px 40px;

    background-color: rgba(0, 0, 0, .7);

    bottom: 30px;


    position: absolute;
    color: white;

    overflow: none;

    left: 10vw;
}

#welcome-text h2{
    font-size: 140%;
}

 @media (max-width: 768px) { 

    #welcome-text{
        width: 65vw;
        padding-top: 15px;
        bottom: 20px;
    }

 }

  @media (max-width: 550px) { 

    #welcome-text{
        width: 95vw;
        padding-top: 15px;
        bottom: 20px;
        font-size: 55%;
    }

    #welcome-image{
        background-position-x: -180px;
    }

 }

/*---------------------home info-------------------*/

.home-info-container{
    padding:0;
    height: auto;
    justify-content: center;
    display: grid;
}

.home-info-block{
    width: 50vw;
    margin:  2% 0;
    padding: 0 5px;
    height: auto;
}

#about-us-text p, #how-to-help-text p{
    padding-left: 14px;
    padding-right: 7px;
}

#why-help-text p{
    padding-left: 7px;
    padding-right: 14px;
}

#about-us-picture, #why-help-image, #how-to-help-image{

    background-position: center;
    background-size: cover;
    height: 100%;


    position: relative;
    margin: 0;

    overflow: hidden;

}

#about-us-picture{
    background: url(../images/about-us.jpg);
    background-position-y: -140px;
    background-size: cover;
    background-position: center;    

}

#why-help-image{
    background: url(../images/why-help.jpg);
    background-position-y: -100px;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#how-to-help-image{

    background: url(../images/how-to-help.jpg);
    background-size: cover;
    background-position: center;

}

#about-us-text, #why-help-text, #how-to-help-text{
    background-color: #01579b;
    color: #fff;
    font-size: 70%;
    padding: 10px 0 0 0;


    width: 50vw;

}

#about-us p, h3{
    padding-left: 7px;
}



 @media (max-width: 768px) {


     .home-info-block p{
         font-size: 13.5px;
         
     }

     .home-info-block{
         width:95vw;
     }
  }




 /*------------------contact form----------*/

 #contact-form input{
     margin-bottom: 20px;
 }

.contact-padding{
    margin: 20px 20vw;
}

.contact-submit{
    margin-top: 20px
}

.contact-us-banner{
    height:auto;
    background-color: #01579b;
    color: white;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .contact-padding{
    margin: 20px 10vw;
}
 }

 /*----------events-------*/

 /*----taken from love running project and edited----*/
 .event-picture {
    width: 150px;
    height: 150px;
    padding: 0;
    border-style: solid;
    border-color: #1b1b1b;
    border-width: 1px;
    border-radius: 50%;
    margin-right:20px;

    border-left: none;

    position: absolute;
    
    left: 67.5vw;
    top: -1px;
}

.event-block{
    background-color: #01579b;
    color:#fff;
    margin: 10px auto;
    position: relative;
    height: auto;
    width: 75vw;
    border-style: solid;
    border-color: #1b1b1b;
    border-width: 1px;
}

.event-inner{
    height: auto;
    width: 75vw;
    margin:0;

}

#bournemouth-beach-run-photo{
    background-image: url(../images/beach-run-bournemouth.jpg);
    background-size: 160%;
    background-repeat: no-repeat;
    margin: auto;
}

#dolphin-raffle-photo{
    background: url(../images/dolphin-raffel.jpg);
    background-size: 160%;
    background-repeat: no-repeat;
    margin: auto;
    background-position-x: -30px;
}

#sponsored-swim-photo{
    background:url(../images/sponsored-swim.jpg);
    background-size: 170%;
    background-repeat: no-repeat;
    margin: auto;
}

.event-text p{
    width: 65vw;
    padding-right: 5vw;
    padding-left: 20px;
}

.event-text h3{
    padding-left: 40px;
    padding-top: 20px
}

@media (max-width: 992px) {
    .event-picture{
    width: 15vw;
    height: auto;
    }

    .event-block h3{
        padding-top:5px;
        font-size: 15px;
    }
    .event-text p{
        width: 60vw;
        padding-left:20px;
        padding-top: 0;
        font-size: 11px;

    }
}

@media(max-width: 450px){
    .event-picture{
    width: 30vw;
    height: auto;
    }

    .event-block{
        width:75vw;
        position: relative;
        height: auto;
    }

        .event-text{
            height:auto;
        }
        .event-inner{
            height:auto;
}

/*--------------------------Donation Page-------------------------*/

.donation-banner{
    height:auto;
    background-color: #01579b;
    color: white;
    margin-bottom: 10px;
    padding-top: 5px;
}

#donation-form input{
     margin-bottom: 20px;
 }

.donation-padding{
    margin: 20px 20vw;
}

.donation-submit{
    margin-top: 20px
}


    @media(max-width: 992px){

    .donation-padding{
    margin: 20px 10vw;
    }
    }